html {
  background: #018ded;
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.clock {
  position: relative;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  margin: 30px auto;
  padding: 2rem;
  background-color: antiquewhite;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2),
    0 0 0 20px rgba(255, 255, 255, 1), 3px 0 0 20px rgba(255, 255, 255, 0.6),
    10px 10px 30px 10px rgba(0, 0, 0, 1);
}

.clock-arrows {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 90%;
  height: 90%;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 6px;
  transform-origin: 100% 3px;
  transform: translate(-113%, -366%) rotate(90deg);
  background: black;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-arrow {
  width: 35%;
}

.second-arrow {
  position: relative;
  background: rosybrown;
}

.second-arrow::after {
  content: "";
  position: absolute;
  right: -9px;
  top: -6px;
  width: 18px;
  height: 18px;
  background: rosybrown;
  border-radius: 50%;
  overflow: hidden;
}

.target {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.vertical {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: #000;
}

.horizont {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #000;
}

.clock-numbers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div[class^="number"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div[class*="number"] span {
  display: block;
  font-size: 4rem;
}

div[class*="--01"] {
  transform: rotate(30deg);
}
div[class*="--01"] span {
  transform: translateY(5px) rotate(-30deg);
}
div[class*="--02"] {
  transform: rotate(60deg);
}
div[class*="--02"] span {
  transform: translateY(5px) rotate(-60deg);
}
div[class*="--03"] {
  transform: rotate(90deg);
}
div[class*="--03"] span {
  transform: translateY(5px) rotate(-90deg);
}
div[class*="--04"] {
  transform: rotate(120deg);
}
div[class*="--04"] span {
  transform: translateY(5px) rotate(-120deg);
}
div[class*="--05"] {
  transform: rotate(150deg);
}
div[class*="--05"] span {
  transform: translateY(5px) rotate(-150deg);
}
div[class*="--06"] {
  transform: rotate(180deg);
}
div[class*="--06"] span {
  transform: translateY(5px) rotate(-180deg);
}
div[class*="--07"] {
  transform: rotate(210deg);
}
div[class*="--07"] span {
  transform: translateY(5px) rotate(-210deg);
}
div[class*="--08"] {
  transform: rotate(240deg);
}
div[class*="--08"] span {
  transform: translateY(5px) rotate(-240deg);
}
div[class*="--09"] {
  transform: rotate(270deg);
}
div[class*="--09"] span {
  transform: translateY(5px) rotate(-270deg);
}
div[class*="--10"] {
  transform: rotate(300deg);
}
div[class*="--10"] span {
  transform: translateY(5px) rotate(-300deg);
}
div[class*="--11"] {
  transform: rotate(330deg);
}
div[class*="--11"] span {
  transform: translateY(5px) rotate(-330deg);
}
div[class*="--12"] {
  transform: rotate(360deg);
}
div[class*="--12"] span {
  transform: translateY(5px) rotate(-360deg);
}

.clockDigital {
  position: relative;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.clockDigital-face {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.clockDigital-face p {
  font-family: sans-serif;
  font-size: 6rem;
  line-height: 1rem;
}

.date {
  font-size: 3rem;
}
